div {
    background-color: hsl(300deg 24% 95%);
    color: hsl(16deg 24% 20%);
    display: block;
    width: 200px;
    height: 120px;
    overflow: auto;
    padding: 10px;
    border: solid 2px hsl(16deg 90% 85%);
    margin: 15px;
    box-sizing: border-box;
  }

  div#a{
    background-color: antiquewhite;
  }

  div#b{
    background-color:hwb(0deg 70% 6%);
    position: sticky;  
    top: 0px;
    left: 0px;
}

  div#d{
    background-color:rgb(255, 194, 172);
  }